{% extends 'lynx/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>KingsThought Dashboard</h1>
        <h2>Welcome {{ user.username }}</h2>
        <img style="width: 100px" src="{{ profile.profile_pic.url }}" alt="KingsThought" class="img-fluid">
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        <h2></h2>
        <a class="btn btn-primary" href="{% url 'profile' %}">Profile Management</a>
        <h2></h2>
    </div>
{% endblock %}